extends layout

block content
    h2 About Us
    p We fix computers and want to help those who have no idea what they're doing because it can get pretty complicated if you don't know what you're doing